{:system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :metrics/prometheus
 {}

 :repl/server
 {:port #long #or [#env REPL_PORT 7200]
  :host #or [#env REPL_HOST "127.0.0.1"]}

 :cache/redis
 {:ttl 3600
  :conn {:pool {}
         :spec {:uri #env REDIS_URI}}}

 :server/http
 {:port #long #or [#env PORT 3000]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router #ig/ref :router/core
  :metrics #ig/ref :metrics/prometheus
  :api-path "/api"
  :cookie-secret #or [#env COOKIE_SECRET "KCHKPXIJUPNTFWOM"]
  ;; from ring.middleware.defaults. anti-forgery `false` by default because services may not require it
  :site-defaults-config {:params {:urlencoded true
                                  :multipart true
                                  :nested true
                                  :keywordize true}
                         :cookies true
                         :session {:flash true
                                   :cookie-name "javierweiss.library-manager"
                                   :cookie-attrs {:max-age 86400
                                                  :http-only true
                                                  :same-site :strict}}
                         :security {:anti-forgery false
                                    :xss-protection {:enable? true,
                                                     :mode :block}
                                    :frame-options :sameorigin
                                    :content-type-options :nosniff}
                         :static {:resources "public"}
                         :responses {:not-modified-responses true
                                     :absolute-redirects true
                                     :content-types true
                                     :default-charset "utf-8"}}}
 :db/testcontainers
 #profile {:test {}}

 :db.sql/connection
 #profile {:dev {:jdbc-url "postgresql://javierweiss:vGI_dfkJrZV-2qxYiTfmNg@picky-beagle-6574.7tt.cockroachlabs.cloud:26257/referencias_bibliograficas?sslmode=verify-full"
                 #_"postgresql://javierweiss:vGI_dfkJrZV-2qxYiTfmNg@free-tier14.aws-us-east-1.cockroachlabs.cloud:26257/referencias_bibliograficas?sslmode=verify-full&options=--cluster%3Dpicky-beagle-6574"}
           :test #ig/ref :db/testcontainers
           :prod {:jdbc-url #env JDBC_URL
                  :init-size 1
                  :min-idle 1
                  :max-idle 8
                  :max-active 32}}

 :db.sql/query-fn
 {:conn #ig/ref :db.sql/connection
  :options {}
  :filename "queries.sql"}

 :db.sql/migrations
 {:store :database
  :db {:datasource #ig/ref :db.sql/connection}
  :migrate-on-init? true}

;; https://docs.xtdb.com/administration/configuring/
 :db.xtdb/node
 #profile {:dev {:xtdb.http-server/server {:port 3200}
                 :xtdb/tx-log {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                                          :db-dir "data/dev/tx-log"
                                          :sync? true}}
                 :xtdb/document-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                                                  :db-dir "data/dev/doc-store"
                                                  :sync? true}}
                 :xtdb/index-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                                               :db-dir "data/dev/index-store"
                                               :sync? true}}}
           :test {}
           :prod {}}

 :db/type :xtdb                                                                    ;; cambiar a :sql para SQL

 :db/db  #ig/ref :db.xtdb/node                                                     ;; cambiar a :db.sql/query-fn para SQL
 
 :reitit.routes/api
 {:base-path "/api"
  :env #ig/ref :system/env
  :metrics #ig/ref :metrics/prometheus
  :db-type #ig/ref :db/type
  :query-fn #ig/ref :db/db}                                                                          

 :router/routes
 {:routes #ig/refset :reitit/routes}

 :router/core
 {:routes #ig/ref :router/routes}

 :cronut/scheduler
 {:schedule []}

 :templating/selmer
 {}

 :reitit.routes/ui {:base-path "",
                    :env #ig/ref :system/env}}
